@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 90px;
    color: #222
}

h2{
    font-size: 60px;
    line-height: 54px;
    color: #222;
    text-align: right;
    padding-right: 20px;
    margin-left: auto;
    margin-right: 0;
}

h4{
    font-size: 40px;
    color: #222
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 35px;
    color: #465b52;
    margin: 15px 0 20px 0;
    padding-right: 20px;
    margin-left: auto;
    margin-right: 0;
}

.section-p1 {
    padding: 40px 80px;
    justify-content: space-between; /* Space between columns */
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #272626;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style:none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f3ebeb;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #c02929;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #c02929;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("tupleftlogo.png");
    height: 100vh;
    width: 100%;

    background-size: 100%;  
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h4{
    padding-bottom: 15px;
    text-align: right;
    padding-right: 20px;
    margin-left: auto;
    margin-right: 0;

}
#hero h1{
    color:#c02929;
    text-align: right;
    padding-right: 20px;
    margin-left: auto;
    margin-right: 0;

}
#hero button {

    background-image: url("redbutton.png");
    background-color: transparent;
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    color: #f3ebeb;
    padding: 20px; /* Adjusted padding for uniformity */
    font-weight: 700;
    font-size: 25px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 60px; /* Set a fixed height */
    width: auto; /* Auto width */
    margin-left: auto;
    margin-right: 0;
}


#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 p {
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #0606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #020202;
}

#product1 .pro .cart{
    z-index: 10;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #020202;
    position: absolute;
    bottom: 60px;
    right: 20px;                                  
}


.footer-logo {
    width: 100px;      /* Adjust size as needed */
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.follow {
    margin-top: 20px;
    text-align: left;
}

.icon {
    display: flex;
    gap: 10px;  /* Space between icons */
}

.icon i {
    font-size: 24px;
    color: #000000;
    padding-top: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon i:hover {
    color: #3325f5; /* Icon changes color on hover */
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    gap: 10px;
}

footer .col {
    flex: 1;
    margin: 10px;
    padding: 0 10px;
    flex-direction: column;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 18px;
    margin: 0  0 0 8px 0;
}

footer a{
    font-size: 18px;
    text-decoration: none;
    color: #222
}

footer a:hover {
    color: #ce1414;
}
.follow {
    margin-top: 10px;
    text-align: left; /* Align content to the left */
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1; /* Makes each column take equal space */
    margin: 10px;
    padding: 0 20px; /* Adds some padding between columns */
}

footer .{
    width: 100%;
    text-align: center;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* Log In/Register Form

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  padding: 30px;
}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container #flip:checked ~ .forms .login-form {
  pointer-events: none;
}

.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover .text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #7d2ae8;
}

.cover .text .text-1,
.cover .text .text-2 {
  z-index: 20;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #7d2ae8;
}

.form-content .input-box i {
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input {
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
  background: #5b13b9;
}

.forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}

.forms .form-content label:hover {
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container #flip:checked ~ .forms .signup-form {
    display: block;
  }

  .container #flip:checked ~ .forms .login-form {
    display: none;
  }
}
